.progressive-img {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100vw;
    height: 100vh;
}

.progressive-img img {
    width: 100%;
    height: 100%;
}

.progressive-img .hidden {
    opacity: 0;
}

.progressive-img .visible {
    opacity: 1;
}

.progressive-img__fallback {
    position: absolute;
    z-index: 10;
    filter: blur(10px);
    transform: scale(1.4);
    transition: opacity 1s ease-in-out;
}

.progressive-img__large {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}